*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  background: url("../img/bg.jpg");
  background-position: bottom left;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Raleway", sans-serif;
  color: #666;
}
.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .card {
    width: 450px;
    background: rgba($color: #eee, $alpha: 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 100px 0;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    .img-container {
      width: 25%;
      margin: auto;
      position: relative;
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 9em;
        width: calc(100% + 6em);
        height: 1px;
        background: #666;
      }
      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        right: 9em;
        width: calc(100% + 6em);
        height: 1px;
        background: #666;
      }
      .me {
        width: 100%;
        border-radius: 50%;
        filter: grayscale(0);
        filter: contrast(0.7);
      }
    }
    .name {
      text-transform: uppercase;
      font-weight: lighter;
      margin: 20px 0;
    }
    .icons {
      width: 90%;
      display: flex;
      justify-content: space-evenly;
      list-style: none;
      padding: 10px 0;
      li {
        a {
          text-decoration: none;
          position: relative;
          display: block;
          width: 3.75em;
          height: 3.75em;
          border-radius: 100%;
          border: solid 1px #666;
          line-height: 3.75em;
          overflow: hidden;
          text-align: center;
          white-space: nowrap;
          color: #666;
          font-size: 1.3em;
          transition: all 0.4s ease;
          &:hover {
            color: #3e7186;
            border-color: #3e7186;
          }
        }
      }
    }
  }
}
